// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

.header {
  &__logo-text-blue {
    width: 80px;
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
