// sass-lint:disable no-css-comments, no-color-hex, no-color-literals

// Site custom styles

.header {
  @include margin-bottom(1);

  &__logo-image {
    width: 220px;
  }
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
